<!-- HEADER SECTION-->
{% include "@bootstrap_seven/system/header.html.twig" %}
<!-- END HEADER SECTION -->
{{ page.highlighted }}

<section{{ content_attributes.addClass(content_classes) }}>

	{# Content #}
	{% block content %}
		<a id="main-content"></a>
		{{ page.content }}
	{% endblock %}
	
</section>

<!-- FOOTER SECTION-->
{% include "@bootstrap_seven/system/footer.html.twig" %}
<!-- END FOOTER SECTION -->
